.page {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container h2 {
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: 150px;
}

.formcontainer {
  color: #FFFFFF;
  width: 500px;
  background: #302B2B;
  border-radius: 30px;
  padding: 50px;
  margin-left: 100px;
  margin-bottom: 200px;
}

.formcontainer input {
  width: 100%;
}

.formcontainer textarea {
  width: 100%;
  height: 30vh;
  resize: none;
}

.radio input {
  width: 20px;
  margin: 0 10px;
}

.button input {
  background: #D14040;
  border-radius: 60px;
  width: 100px;
  height: 40px;
}

@media all and (max-width:480px) {
  .container h2 {
    margin-left: 70px;
  }

  .formcontainer {
    width: 400px;
    margin-left: 40px;
    margin-bottom: 150px;
  }
}
