.container {
  background: rgba(134, 110, 90, 0.73);
  text-align: center;
  padding: 2%;
  color: #FFFFFF;
}

@media all and (max-width:480px) {
  .container {
    display: flex;
    width: 480px;
  }
}
